@font-face {
    font-family: 'salianFont';
    src: url('./../Fonts/IRANSansWebFaNum_Light.ttf') format("truetype");
    
}

body{
    direction: rtl;
    text-align: right;
    font-family: "salianFont" !important;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
}
*{
     font-family: "salianFont" !important;
}
